<!-- app/views/questions/answer.html.erb -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="form-container">
        <h1 class="text-center">Coach says:</h1>

        <p class="text-center"><%= @coach %></p>

        <div class="text-center">
          <%= link_to "Ask", ask_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
